.App {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(./components/modelImage/BgPiece.png);
    background-blend-mode: overlay, color;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-app {
    height: 650px;
    width: 100%;
    color: azure;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
}

.header {
    font-size: 36px;
    color: #ffffff;
    font-family: 'Exo 2';
    text-align: center;
    filter: drop-shadow(0px 1px 0.5px #000000);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    object-fit: contain;
    height: 480px;
    width: 320px;
    margin-left: 48px;
    margin-right: 48px;
    cursor: pointer;
    user-select: none;
}

.card div {
    margin-left: 49px;
    font-weight: bold;
    font-family: "Trebuchet MS";
}

.card div:first-child {
    margin-top: 19px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #666666;
}

.card div:nth-child(2) {
    font-size: 48px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}

.card div:nth-child(3) {
    font-size: 24px;
    color: #000000;
}

.card div:nth-child(4) {
    font-size: 14px;
    color: #666666;
    margin-top: 15px;
    font-weight: normal;
}

.card div:nth-child(5),
div:nth-child(6) {
    font-size: 14px;
    color: #666666;
    margin-top: 3px;
    font-weight: normal;
}

.weightFor {
    padding-top: 190px;
    padding-left: 160px;
    font-size: 42px;
    color: #ffffff;
}

.weightFor section:first-child {
    font-size: 42px;
    color: white;
    text-align: center;
    font-family: "Trebuchet MS";
    font-weight: normal;
}

.weightFor section:last-child {
    font-size: 24px;
    color: white;
    line-height: 16px;
    text-align: center;
    font-family: "Trebuchet MS";
    font-weight: normal;
}

.relationCard {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relationCard div {
    width: 320px;
    margin-left: 48px;
    margin-right: 48px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Trebuchet MS";
    filter: drop-shadow(0px 1px 0.5px #000000);
}